:root{
  --headerOutline: hsl(217, 16%, 45%);
  --darkText: hsl(229, 25%, 31%);
  --scoreText: hsl(229, 64%, 46%);  

  --background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  --scissors: linear-gradient(hsl(39, 89%, 49%),hsl(40, 84%, 53%));
  --paper: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  --rock: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --lizard: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  --cyan: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

body{
  font-family: 'Barlow Semi Condensed', sans-serif;
  padding: 1% 3%;
  background: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*----------------------------HEADER----------------------------*/

.header{
  border: 3px solid var(--headerOutline);
  border-radius: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 55%; min-width: 310px; max-width: 1000px;
  height: 20vh; min-height: 100px;
  text-transform: uppercase;
  padding: .5% 2%;
}

.header__logo{
  height: 80%;
}

.header__score{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 22%; min-width: 80px;
  height: 80%; min-height: 80px;
  border-radius: inherit;
  padding: 2% 0;
}

.header__score__title{
  color: var(--scoreText);
  text-align: center;
  text-transform: uppercase;
}

.header__score__score{
  color: var(--darkText);
  font-size: 2em;
  text-align: center;
  font-weight: bolder;
  vertical-align: text-top;
}

/*------------------------MAIN----------------------------------*/

.main{
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%; min-width: 300px;
  min-height: 70vh;
}

.main__section{
  --top: 8%;
  --side: -30%;
  --bottom: 10%;

  display: flex;
  background: url(./images/bg-triangle.svg) center/contain no-repeat;
  position: relative;
  min-height: 450px; height: 60vh;
  justify-content: center;
  width: 20%; min-width: 300px;
  transition: .8s ease;
}

.bonus{
  --top: 25%;
  --side: -25%;
  --bottom: 10%;
  --width: 150px;
  --height: 150px;

  min-height: 500px; height: 50vh;
  background: url(./images/bg-pentagon.svg) center/contain no-repeat;
}

.main__button{
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: var(--width, 200px);
  height: var(--height, 200px);
  border-radius: 50%;
  box-shadow: inset 0 -10px 0 0 rgba(17, 17, 17, 0.3);
  z-index: 0;
}

.main__button:hover{
  transform: scale(1.1);
}

.rock{
  background: var(--rock);
  bottom: var(--bottom);
  margin: auto;
}

.bonus .rock{
  right: calc(var(--side) + 15%);
}

.paper{
  top: var(--top);
  left: var(--side);
  background: var(--paper);
}

.bonus .paper{
  left: auto;
  right: var(--side)
}

.scissors{
  top: var(--top);
  right: var(--side);
  background: var(--scissors);
}

.bonus .scissors{
  top: 5%;
  left: 0;
  right: 0;
  margin: auto;
}

.lizzard{
  bottom: var(--bottom);
  left: calc(var(--side) + 15%);
  background: var(--lizard);
}

.spock{
  top: var(--top);
  left: var(--side);
  background: var(--cyan);
}

.main__button::after, .main__button::before{
  content: "";
  position: absolute;
  width: 75%;
  height: 75%;
  border-radius: 90%;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 -6px 0 0 rgba(211, 211, 211, 0.8);
  z-index: 2;
}

.main__button__option{
  width: 35%; min-width: 50px;
  height: 35%; min-height: 50px;
  z-index: 3;
}

.mainHide{
  z-index: -1;
  opacity: 0;
  transition: .5s ease .5s;
}

#results{
  background: none;
  color: white;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
  min-width: 80%;
  height: 100%;
  padding-top: 30px;
  position: absolute;
  opacity: 0;
  z-index: -1;
}

#results .main__button{
  --width: 280px;
  --height: 280px;
}

.main__section__card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  min-height: 100%;
  min-width: 150px;
  transition: .5s ease transform;
}

.main__section__card > h3{
  font-size: 2em;
}

#user{
  transform: translateX(60%);
}

#house{
  transform: translateX(-60%);
}

.main__section__card > .main__button, .main__section__card > .main__button{
  position: relative;
  margin-top: 20px;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
}

.results--show{
  transition-delay: .2s;
  z-index: 0 !important;
  opacity: 1 !important;
}

#conclusion{
  display: flex;
  justify-self: center;
  justify-content: center;
  
  align-items: flex-start;
  flex-wrap: wrap;
  width: 30%; min-width: 250px;
  min-height: 200px;
  opacity: 0;
  transition: .5s ease;
  transition-delay: 1.2s;
}

.conclusion--Active{
  opacity: 1 !important;
}

.conclusion__title{
  font-size: 3em;
  text-rendering: optimizeLegibility;
  font-weight: bolder;
  text-transform: uppercase;
}

#conclusion > .conclusion__button{
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bolder;
  border: 0;
  color: hsl(349, 71%, 52%);
  padding: 15px;
  width: 80%
}

/*------------------------Rules------------------------------*/

.rulesContainer{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: .5s ease;
  opacity: 0;
  z-index: -1;
}

.rulesContainerActive{
  opacity: 1;
  z-index: 5;
}

.rules{
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 35%; min-width: 300px;
  height: 35vmin; min-height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2%;
}

.rules__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 20px;
  padding: 0 30px;
}

.rules__header__title{
  color: var(--scoreText);
  font-size: 2em;
  text-transform: uppercase;
}

.rules__header__close{
  cursor: pointer;
}

.game__button{
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 10px 35px;
  border-radius: 12px;
  position: absolute;
  transition: .5s ease;
}

.game__button:hover{
  background-color: var(--darkText);
  color: black;
}

#rules__button{
  right: 20px;
  bottom: 15px;
}

#change{
  left: 20px;
  bottom: 15px;
}

/*---------------------Media Queries---------------------------------*/

@media screen and (max-width: 768px){
  body{
    justify-content: start;
  }

  .header{
    height: 10vh;
    width: 90%;
    padding-left: 4%;
    padding-right: 4%;
  }
  .header__score__title{
    font-size: .8em;
  }
  .header__score__score{
    font-size: 3em;
  }

  .main{
    min-height: 350px;
    height: 75vh;
  }

  .main__section{
    min-height: 180px;
    height: 55vh;
    min-width: 200px;
  }

  .main__section__card{
    font-size: .6em;
  }

  .main__button{
    width: 120px;
    height: 120px;
    box-shadow: inset 0 -6px 0 0 rgba(17, 17, 17, 0.3);
  }
  .main__button::after, .main__button::before{
    box-shadow: 0 -4px 0 0 rgba(211, 211, 211, 0.8);
  }

  #user{
    transform: translateX(0%);
    grid-area: user;
  }
  
  #house{
    transform: translateX(0%);
    grid-area: house;
  }

  #results{
    grid-template-areas: 'user house' 'conclusion conclusion';
    padding-bottom: 100px;
  }  

  #conclusion{
    grid-area: conclusion;
  }

  .rules{
    align-items: center;
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }

  .game__button{
    right: 50% !important;
    left: auto !important;
    transform: translateX(50%);
  }

  #change{
    bottom: 10px;
  }

  #rules__button{
    bottom: 60px !important;
  }
}